.help__wrapper{
  width: 1026px;
  min-height: 281px;
  margin: 0 auto 82px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 34px 90px;
}

.help__element:nth-child(6){
  margin-left: 85px;
}
.help__element:nth-child(9){
  margin-right: 85px;
}


@media screen and (max-width: 1050px) {
  .help__wrapper{
    /* min-height: 281px; */
    width: 630px;
    margin: 0 auto 85px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 34px 65px;
    justify-items: start;
    justify-items: center;
  }
  .help__element:nth-child(6){
    margin-left: 0;
  }
  .help__element:nth-child(9){
    margin-right: 0;
  }
}