.footer{
  width: 100%;
  margin: 0 auto 0;
  padding-top: 42px;
  background-image: url(../../images/footer-gradient-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}