.cards_type_pets{
  width: 0;
  max-width: 1200px;
  height: 875px;
  /* margin: 0 auto 58px; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* gap: 0px 40px; */
  gap: 30px 40px;
  padding-left: 0;
}

@media screen and (max-width: 1230px) {
  .cards_type_pets{
    max-width: 580px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* margin: 0 94px 44px; */
    margin: 0 auto 44px;
  }
}

@media screen and (max-width: 740px) {
  .cards_type_pets{
    max-width: 270px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* margin: 0 25px 40px 30px; */
    margin: 0 auto 40px;
  }
}