.only__subtitle{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #CDCDCD;
  margin-top: 42px;
}

@media screen and (max-width: 490px){
  .only__subtitle{
    margin: 20px 10px 0;
    text-align: center;
  }
}