/* main */

@import url(../vendor/normalize.css);
@import url(../blocks/html/html.css);

@import url(../blocks/main/_fixed/main_type_fixed.css);
@import url(../blocks/start/start.css);

@import url(../blocks/header/header.css);

@import url(../blocks/logo/__title/logo__title.css);
@import url(../blocks/logo/__text/logo__text.css);
@import url(../blocks/logo/logo.css);

@import url(../blocks/nav/nav.css);
@import url(../blocks/nav/__link/nav__link.css);
@import url(../blocks/nav/__link/_active/nav__link_active.css);
@import url(../blocks/nav/__elem/nav__elem.css);
@import url(../blocks/burger/burger.css);
@import url(../blocks/burger/__nav/burger__nav.css);
@import url(../blocks/burger/__link/burger__link.css);
@import url(../blocks/burger/_active/burger__nav_type_active.css);
@import url(../blocks/burger/_active/burger_type_active.css);
@import url(../blocks/burger/__bg/burger__bg.css);
@import url(../blocks/burger/_active/burger__bg_type_active.css);

@import url(../blocks/only/only.css);
@import url(../blocks/only/__text/only__text.css);
@import url(../blocks/only/__title/only__title.css);
@import url(../blocks/only/__subtitle/only__subtitle.css);
@import url(../blocks/only/__img/only__img.css);
@import url(../blocks/only/__button/only__button.css);

@import url(../blocks/about/about.css);
@import url(../blocks/about/__img/about__img.css);
@import url(../blocks/about/__text/about__text.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__subtitle/about__subtitle.css);

@import url(../blocks/friends/friends.css);
@import url(../blocks/friends/__title/friends__title.css);
@import url(../blocks/friends/__title/_pets/friends__title_type_pets.css);
@import url(../blocks/friends/__container/friends__container.css);
@import url(../blocks/friends/__button/friends__button.css);
@import url(../blocks/friends/__button/_main/friends__button_type_main.css);
@import url(../blocks/friends/__nav-button/friends__nav-button.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__elem/cards__elem.css);
@import url(../blocks/cards/_main/cards__elem_type_main.css);
@import url(../blocks/cards/__name/cards__name.css);
@import url(../blocks/cards/__button/cards__button.css);
@import url(../blocks/cards/__img/cards__img.css);

@import url(../blocks/help/help.css);
@import url(../blocks/help/__name/help__name.css);
@import url(../blocks/help/__title/help__title.css);
@import url(../blocks/help/__wrapper/help__wrapper.css);
@import url(../blocks/help/__element/help__element.css);
@import url(../blocks/help/__image/help__image.css);

@import url(../blocks/donation/donation.css);
@import url(../blocks/donation/__img/donation__img.css);
@import url(../blocks/donation/__text/donation__text.css);
@import url(../blocks/donation/__title/donation__title.css);
@import url(../blocks/donation/__subtitle/donation__subtitle.css);
@import url(../blocks/donation/__button/donation__button.css);
@import url(../blocks/donation/__info/donation__info.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__contact/footer__contact.css);
@import url(../blocks/footer/__address/footer__address.css);
@import url(../blocks/footer/__image/footer__image.css);
@import url(../blocks/footer/__title/footer__title.css);
@import url(../blocks/footer/__info/footer__info.css);
@import url(../blocks/footer/__parag/footer__parag.css);

/* pets */

@import url(../blocks/header/_pets/header_type_pets.css);

@import url(../blocks/logo/__title/_pets/logo__title_type_pets.css);
@import url(../blocks/logo/__text/_pets/logo__text_type_pets.css);

@import url(../blocks/nav/__link/_pets/nav__link_type_pets.css);
@import url(../blocks/nav/__link/_active/nav__link_active-pets.css);

@import url(../blocks/cards/_pets/cards_type_pets.css);
@import url(../blocks/cards/__elem/_pets/cards__elem_type_pets.css);
@import url(../blocks/cards/_pets/cards_type_pets.css);

@import url(../blocks/friends/__buttons/friends__buttons.css);
@import url(../blocks/friends/__button/_pets/friends__button_type_pets.css);
@import url(../blocks/friends/__button/_active/friends__button_type_active.css);
@import url(../blocks/friends/_pets/friends_type_pets.css);

/* Popup */

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__elem/popup__elem.css);
@import url(../blocks/popup/__img/popup__img.css);
@import url(../blocks/popup/__text/popup__text.css);
@import url(../blocks/popup/__description/popup__description.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/__breed/popup__breed.css);
@import url(../blocks/popup/__list/popup__list.css);
@import url(../blocks/popup/__key/popup__key.css);
@import url(../blocks/popup/__li/popup__li.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/_active/popup_type_active.css);

.wrapper{
  width: 1020px;
  height: 435px;
  display: flex;
  flex-direction: row;
  gap: 90px;
  overflow: hidden;
  text-align: center;
}

.cards-left{
  /* margin-left: -1100px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1020px;
  height: 435px;
  gap: 90px;
  padding-left: 20px;
  /* padding-top: 10px; */
}

.cards-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1020px;
  height: 435px;
  gap: 90px;
  padding-left: 20px;
  /* padding-top: 10px; */
}

.courusel{
  position: relative;
  width: 3120px;
  margin-left: -1050px;
  display: flex;
}

@keyframes move-left {
  from {left: 0px;}
  to {left: -1050px;}
}

@keyframes move-right {
  from {left: 0px;}
  to {left: 1040px;}
  /* to {left: 1050px;} */
}



.transition-left {
  animation-name: move-left;
  animation-duration: 5s;
}

.transition-right {
  animation-name: move-right;
  animation-duration: 5s;
}

