.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1020px;
  height: 435px;
  /* gap: 90px; */
  gap: 75px;
  padding-left: 15px;
  /* padding-left: 75px; */
  justify-items: center;
  /* padding-top: 10px; */
  /* background-color: blueviolet; */
}

@media screen and (max-width: 1205px){
  .cards {
    padding-left: 0;
    width: 580px;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

@media screen and (max-width: 760px){
  .cards {
    width: 270px;
    grid-template-columns: 1fr;
  }
}