.footer__address{
  width: 302px;
  min-height: 234px;
  margin: 16px 160px 50px 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

@media screen and (max-width: 1250px) {
  .footer__address{
    margin: 0 63px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .footer__address{
    margin: 0 auto 0;
    min-height: 208px;
    gap: 39px;
  }
}