.footer__address{
  width: 302px;
  min-height: 234px;
  margin: 16px 160px 50px 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

@media screen and (max-width: 1250px) {
  .footer__address{
    margin: 0 64px 0 0;
  }
}