.friends__nav-button{
  width: 261px;
  height: 52px;
  border-radius: 100px;
  border: none;
  background-color: #F1CDB3;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  display: block;
  margin: 60px auto 115px;
  cursor: pointer;
}