.popup__img{
  width: 55%;
  height: 100%;
  margin-right: 35px;
  border-radius: 9px;
}

@media screen and (max-width: 1050px){
  .popup__img{
    margin-right: 11px;
  }
}

@media screen and (max-width: 735px){
  .popup__img{
    display: none;
  }
}