.only__title{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 764px){
  .only__title{
    text-align: center;
  }
}

@media screen and (max-width: 365px){
  .only__title{
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.06em;
  }
}