.footer__contact{
  width: 278px;
  min-height: 234px;
  margin: 0 160px 50px auto;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

@media screen and (max-width: 1250px) {
  .footer__contact{
    margin: 0 60px 60px 64px;
  }
}