.donation__text{
  width: 380px;
  margin-right: auto;
}

@media screen and (max-width: 1110px) {
  .donation__text{
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 530px) {
  .donation__text{
    width: 300px;
  }
}