.friends__button_type_pets{
  margin-top: 0;
  /* display: flex;
  gap: 30px; */
}

.friends__button_type_pets:nth-child(1){
  pointer-events: none;
  border-color: #CDCDCD;
  color:#CDCDCD;
}

.friends__button_type_pets:nth-child(2){
  pointer-events: none;
  border-color: #CDCDCD;
  color:#CDCDCD;
}