.cards__elem{
  width: 270px;
  height: 435px;
  /* min-height: 435px; */
  border-radius: 9px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
}

.cards__elem:hover{
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, .3);
}

.cards__elem:hover .cards__button{
  background-color: #F1CDB3;
}


.cards__elem:active .cards__button{
  opacity: .6;
}

@media screen and (max-width: 760px) {
  .cards__elem{
    width: 260px;
  }
}