.cards__elem{
  width: 270px;
  min-height: 435px;
  border-radius: 9px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.cards__elem:hover .cards__button{
  background-color: #F1CDB3;
}


.cards__elem:active .cards__button{
  opacity: .6;
}

@media screen and (max-width: 1205px){
  .cards__elem:nth-child(3) {
    display: none;
  }
}