.popup__elem{
  width: 900px;
  min-height: 495px;
  display: flex;
  background-color: #FAFAFA;
  border-radius: 9px;
  position: relative;
}

@media screen and (max-width: 1050px){
  .popup__elem{
    width: 630px;
    min-height: 345px;
  }
}

@media screen and (max-width: 735px){
  .popup__elem{
    width: 240px;
    min-height: 341px;
  }
}