.logo__title{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #F1CDB3;
  letter-spacing: 0.06em;
  margin:  0 0 10px 0;
  transition: 0.3s;
}