.friends_type_pets{
  padding-bottom: 102px;
  padding-top: 77px;
}

@media screen and (max-width: 1215px) {
  .friends_type_pets{
    padding-top: 78px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 740px) {
  .friends_type_pets{
    padding-top: 42px;
    padding-bottom: 42px;
  }
}