.about__subtitle{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
  margin-top: 25px;
  margin-bottom: 0;
}

@media screen and (max-width: 380px){
  .about__subtitle{
    font-size: 15px;
    text-align: justify;
    margin-top: 24px;
  }
}