.friends__title_type_pets{
  margin: 0 auto 55px;
}


@media screen and (max-width: 1215px) {
  .friends__title_type_pets{
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 740px) {
  .friends__title_type_pets{
    margin-bottom: 42px;
  }
}