.help__element{
  min-width: 60px;
  min-height: 113px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 415px) {
  .help__element{
    min-height: 87px;
  }
}