.friends__title{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 400px;
  margin: 0 auto 60px;
}

@media screen and (max-width: 415px) {
  .friends__title{
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 42px;
  }
}