.donation__info{
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #B2B2B2;
}

@media screen and (max-width: 530px) {
  .donation__info{
   margin: 20px 10px 0;
   text-align: justify;
  }
}